/* You can add global styles to this file, and also import other style files */

.pacifico {
    font-family: pacifico;
}

.large-text {
    font-size: 3em;
}

.medium-text {
    font-size: 1.5em;
}

